$text_color:	#202020;
$border_color:	#EEEEEE;
$primary_color:	#118077;
$primary_dark:	darken($primary_color, 10%);
$primary_light:	lighten($primary_color, 10%);
$primary_lighter:	lighten($primary_color, 20%);
